
@{
    ViewBag.Title = "Expense";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="m-3">
    <div class="row">
        <div class="col justify-content-center align-self-center">
            <h3>Expense</h3>
        </div>
        <div class="col text-right">
            <a id="CreateClick" data-url="@Url.Action("Create","Expanses")" class="btn-floating aqua-gradient" title="Add New" data-toggle="modal">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <table id="DataTable" class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Expanse Date</th>
                <th>Expanse For</th>
                <th>Payment Method</th>
                <th>Expanse Amount</th>
                <th style="width: 30px">Delete</th>
            </tr>
        </thead>
    </table>

    <!-- Insert Modal -->
    <div class="modal fade" id="InsertModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <!-- Update Modal -->
    <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function() {
            dataTable.getData();
        });

        //get data
        var dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#DataTable").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Expanses/IndexData",
                        type: "POST"
                    },
                    columns:
                    [
                        { data: "ExpanseDate" ,"render": function(data) { return moment(data).format('DD MMM YYYY')} },
                        { data: "ExpanseFor" },
                        { data: "Expense_Payment_Method" },
                        { data: "ExpanseAmount" },
                        { data: "ExpanseID", "render": function(data) { return `<a style="color:#ff0000" class="delete fas fa-trash-alt" href="/Expanses/Delete/${data}"></a>`; } }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [0, 4] },
                        { 'sortable': false, 'targets': [3, 4] }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            }
        }

        //Insert
        $("#CreateClick").on("click",function() {
                $.get($(this).data("url"),
                    function(data) {
                        $('#InsertModal').html(data).modal('show');
                    });
            });

        function OnCreateSuccess(data) {
            if (data !== "success") {
                $('#InsertModal').html(data);
                return;
            }

            $('#InsertModal').html(data).modal('hide');
            indexData();
        }

        //Delete click
        $('#DataTable').on("click", ".delete",function(evt) {
                evt.preventDefault();

                var row = $(this).closest("tr");
                var btnDelete = $(this);
                const url = $(this).attr('href');

                $('#table-row em').remove();
                $('#table-row tr').removeClass("error-color");

                if (!url) return;

                if (confirm("Are you sure you want to delete?")) {
                    $.post(url,function(response) {
                            if (response === '0') {
                                row.addClass("error-color").after('<em class="used-error">This data already used in others place</em>');
                                btnDelete.removeAttr("href");
                                return;
                            }
                            row.hide();
                    });
                }
            });
    </script>
}