
@{
    ViewBag.Title = "Income Report";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid mt-2">
    <div class="card card-body">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="h3-responsive">Bill Received Statement</h3>
                <em class="d-block text-muted mb-3" id="showDate"></em>
            </div>
            <div class="col-lg-7 d-print-none">
                <div class="form-inline justify-content-end">
                    <div class="md-form m-0 mr-3">
                        <input id="formDate" class="form-control datepicker" placeholder="Form Date" type="text" />
                    </div>
                    <div class="md-form m-0">
                        <input id="toDate" class="form-control datepicker" placeholder="To Date" type="text" />

                        <button id="find" class="btn aqua-gradient btn-rounded btn-sm my-0" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <em class="mb-2">Total Received: ৳<span id="total"></span></em>
        <table id="DataTable" class="DataTable table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th><strong>Date</strong></th>
                    <th><strong>Bill No</strong></th>
                    <th><strong>Vendor</strong></th>
                    <th><strong>Received</strong></th>
                    <th><strong>P.Method</strong></th>
                    <th><strong>Received By</strong></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{
    <script>
        $(function() {
            startEndOfMonth("#formDate", "#toDate");
            loadData();

            $('.datepicker').pickadate();
        });

        function loadData() {
            const from = $("#formDate").val();
            const to = $("#toDate").val();

            if (from || to) {
                const shoDate = showDate(from, to);
                $("#showDate").text(shoDate);
            }

            dataTable.fromDate = from;
            dataTable.toDate = to;
            dataTable.getData();
        };

        function showDate(from, to) {
            var label = "";
            if (from && !to)
                label = `from ${from}`;

            if (to && !from)
                label = `upto ${to}`;

            if (from && to)
                label = `from (${from}) upto (${to})`;

            return label;
        }

        var dataTable = {
            table: null,
            fromDate: "",
            toDate: "",
            init: function() {
                dataTable.table = $("#DataTable").DataTable({
                    processing: true,
                    serverSide: true,
                    dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>><"row"<"col-sm-12"<tr>>><"row"<"col-sm-5"i><"col-sm-7"p>>',
                    buttons: dataTable.button,
                    ajax: {
                        url: "/Report/GetIncome",
                        type: "POST",
                        data: function(data) {
                            data.sFromDate = dataTable.fromDate;
                            data.sToDate = dataTable.toDate;
                            data.GrandTotalProperty = "SellingPaidAmount";
                        },
                        dataSrc: function(data) {
                            $("#total").text(data.GrandTotal);
                            return data.data;
                        }
                    },
                    columns:
                    [
                        { data: "SellingPaid_Date", "render": function(data) { return moment(data).format('D MMM YYYY') } },
                        { data: "SellingSN" },
                        { data: "VendorCompanyName" },
                        { data: "SellingPaidAmount", "render": function(data) { return `${data.toFixed(2)}/-` } },
                        { data: "Payment_Situation" },
                        { data: "ReceivedBy" }
                    ],
                    columnDefs:
                    [
                        { 'searchable': false, 'targets': [0, 3] },
                        { 'className': "text-left", "targets": [2, 5] },
                        { 'className': "text-right", "targets": [3] }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            button: {
                buttons: [{
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: '',
                    exportOptions: {
                        //columns: [0,1] //Column value those print
                    },
                    customize: function(win) {
                        $(win.document.body).prepend(`
                        <nav class="mb-3 navbar aqua-gradient">
                          <h4 class="white-text m-0">
                            <img src="http://bismillahgraphic.com/CSS/images/logo.png" style="height: 40px;" alt="">Bismillah Graphic
                          </h4>
                        </nav>
                        <h3 class="h3-responsive">${$('h3').text()}</h3>
                        <em class="d-block text-muted mb-3">${$("#showDate").text()}</em>
                        <em class="mb-1">Total Received: ৳${$("#total").text()}</em>`);
                    },
                    autoPrint: true
                }],
                dom: {
                    button: {
                        className: 'btn purple-gradient btn-rounded btn-sm my-0'
                    }
                }
            }
        }

        $("#find").on("click", function() {
            loadData();
        });

    </script>
}
