
@{
    ViewBag.Title = "Income Report";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid mt-2">
    <div class="card card-body">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="h3-responsive">Bill Received Statement</h3>
                <em class="d-block text-muted mb-3" id="showDate"></em>
            </div>
            <div class="col-lg-7 d-print-none">
                <div class="form-inline justify-content-end">
                    <div class="md-form m-0 mr-3">
                        <input id="formDate" class="form-control datepicker" placeholder="Form Date" type="text" />
                    </div>
                    <div class="md-form m-0">
                        <input id="toDate" class="form-control datepicker" placeholder="To Date" type="text" />

                        <button id="find" class="btn aqua-gradient btn-rounded btn-sm my-0" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <em class="mb-1">Total Received: ৳<span id="total"></span></em>
        <table class="DataTable table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th><strong>Date</strong></th>
                    <th><strong>Bill No</strong></th>
                    <th class="text-left"><strong>Vendor</strong></th>
                    <th class="text-right"><strong>Received</strong></th>
                    <th><strong>P.Method</strong></th>
                    <th><strong>Received By</strong></th>
                </tr>
            </thead>
            <tbody id="t-row"></tbody>
        </table>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            loadData();

            $('.datepicker').pickadate();
        });

        function loadData() {
            const from = $("#formDate").val();
            const to = $("#toDate").val();

            if (from || to) {
                const shoDate = showDate(from, to);
                $("#showDate").text(shoDate);
            }

            const url = "/Report/GetIncome";
            $.get(url, { fromDate: from, toDate: to }, function(data) {
                buildTable(data);
            });
        };


        function buildTable(data) {
            var html = '';
            const row = $("#t-row");

            if (row.children().length > 0) {
                row.empty();
            };

            var total = 0;
            $.each(data, function (i, item) {
                total += item.SellingPaidAmount;
                html += `<tr>
                    <td>${moment(item.SellingPaid_Date).format('D MMM YYYY')}</td>
                    <td>${item.SellingSN}</td>
                    <td class="text-left">${item.VendorCompanyName}</td>
                    <td class="text-right">${item.SellingPaidAmount}/-</td>
                    <td>${item.Payment_Situation}</td>
                    <td>${item.ReceivedBy}</td>
                </tr>`;
            });

            $("#total").text(total);
            row.append(html);
        };

        $("#find").on("click", function() {
            loadData();
        });

        function showDate(from, to) {
            var label = "";
            if (from && !to)
                label = `from ${from}`;

            if (to && !from)
                label = `upto ${to}`;

            if (from && to)
                label = `from (${from}) upto (${to})`;

            return label;
        }
    </script>
}
