
@{
    ViewBag.Title = "Sales Summery";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid">
    <div class="card card-body">
        <div class="mb-3">
            <div class="form-inline">
                <div class="md-form m-0 mr-3 d-print-none">
                    <input id="formDate" class="form-control datepicker" placeholder="Form Date" type="text" />
                </div>
                <div class="md-form m-0 d-print-none">
                    <input id="toDate" class="form-control datepicker" placeholder="To Date" type="text" />
                    <button id="find" class="btn aqua-gradient btn-rounded btn-sm my-0" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function() {
            $('.datepicker').pickadate();
            startEndOfMonth("#formDate", "#toDate");
        });
    </script>
}