@{
    ViewBag.Title = "Selling Report";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid mt-2">
    <div class="card card-body">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="h3-responsive">Total Sales: ৳<span id="total"></span></h3>
                <em class="d-block text-muted mb-3" id="showDate"></em>
            </div>

            <div class="col-lg-7 d-print-none">
                <div class="form-inline justify-content-end">
                    <div class="md-form m-0 mr-3">
                        <input id="formDate" class="form-control datepicker" placeholder="Form Date" type="text" />
                    </div>
                    <div class="md-form m-0">
                        <input id="toDate" class="form-control datepicker" placeholder="To Date" type="text" />

                        <button id="find" class="btn aqua-gradient btn-rounded btn-sm my-0" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <em class="mb-1">Sales Details</em>
        <table class="DataTable table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th><strong>Date</strong></th>
                    <th class="text-left"><strong>Party Name</strong></th>
                    <th><strong>Bill No</strong></th>
                    <th class="text-right"><strong>Sales</strong></th>
                    <th class="text-right"><strong>Received</strong></th>
                    <th class="text-right"><strong>Discount</strong></th>
                    <th class="text-right"><strong>Balance</strong></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            startEndOfMonth("#formDate", "#toDate");
            loadData();

            $('.datepicker').pickadate();
        });

        function loadData() {
            const from = $("#formDate").val();
            const to = $("#toDate").val();

            if (from || to) {
                const shoDate = showDate(from, to);
                $("#showDate").text(shoDate);
            }

            dataTable.sDateTime = from;
            dataTable.eDateTime = to;
            dataTable.getData();
        };

        function showDate(from, to) {
            var label = "";
            if (from && !to)
                label = `from ${from}`;

            if (to && !from)
                label = `upto ${to}`;

            if (from && to)
                label = `from (${from}) upto (${to})`;

            return label;

        }

        var dataTable = {
            table: null,
            sDateTime: null,
            eDateTime: null,
            init: function() {
                dataTable.table = $("#DataTable").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Report/GetSelling",
                        type: "POST",
                        data: function(data) {
                            data.sDateTime = dataTable.sDateTime;
                            data.eDateTime = dataTable.eDateTime;
                        }
                    },
                    columns:
                    [
                        { data: "SellingDate", "render": function(data) { return moment(data).format('D MMM YYYY')} },
                        { data: "VendorCompanyName" },
                        { data: "SellingSN" },
                        { data: "SellingAmount" },
                        { data: "SellingPaidAmount" },
                        { data: "SellingDiscountAmount" },
                        { data: "SellingDueAmount" }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [0, 2,3,4,5,6] }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            }
        }

        $("#find").on("click", function() {
            loadData();
        });

    </script>
}