@{
    ViewBag.Title = "Vendor Report";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="container-fluid mt-2">
    <div class="card card-body">
        <h3 class="h3-responsive mb-1">Receivable Statement Summery</h3>
        <em class="mb-2">Total Due: ৳<span id="total"></span></em>

        <table id="DataTable" class="DataTable table table-bordered table-sm text-center">
            <thead>
            <tr>
                <th><strong>Party Name</strong></th>
                <th><strong>Sales</strong></th>
                <th><strong>Received</strong></th>
                <th><strong>Discount</strong></th>
                <th><strong>Due</strong></th>
            </tr>
            </thead>
        </table>
    </div>
</div>



@section scripts{
    <script>
        $(function () {
            dataTable.getData();
        });

        //get data
        var dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#DataTable").DataTable({
                    processing: true,
                    serverSide: true,
                    dom: '<"row"<"col-sm-6"Bl><"col-sm-6"f>><"row"<"col-sm-12"<tr>>><"row"<"col-sm-5"i><"col-sm-7"p>>',
                    buttons: dataTable.button,
                    ajax: {
                        url: "/Report/GetVendor",
                        type: "POST",
                        data: function(data) {
                            data.GrandTotalProperty = "VendorDue";
                        },
                        dataSrc: function(data) {
                            $("#total").text(data.GrandTotal);
                            return data.data;
                        }
                    },
                    columns:
                    [
                        { data: "VendorCompanyName" },
                        { data: "TotalAmount" ,"render": dataTable.addSign},
                        { data: "VendorPaid" ,"render": dataTable.addSign},
                        { data: "TotalDiscount" ,"render": dataTable.addSign},
                        { data: "VendorDue" ,"render": dataTable.addSign},
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [1, 2, 3, 4] },
                        { 'className': "text-left", "targets": [0] },
                        { 'className': "text-right", "targets": [1,2, 3, 4] }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            addSign: function (data) { return `${data}/-` },
            button: {
                buttons: [{
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print',
                    title: '',
                    exportOptions: {
                        //columns: [0,1] //Column value those print
                    },
                    customize: function(win) {
                        $(win.document.body).prepend(`
                        <nav class="mb-3 navbar aqua-gradient">
                          <h4 class="white-text m-0">
                            <img src="http://bismillahgraphic.com/CSS/images/logo.png" style="height: 40px;" alt="">Bismillah Graphic
                          </h4>
                        </nav>
                        <h3 class="h3-responsive">${$('h3').text()}</h3>
                        <em class="mb-1">Total Due: ৳${$("#total").text()}</em>`);
                    },
                    autoPrint: true
                }],
                dom: {
                    button: {
                        className: 'btn purple-gradient btn-rounded btn-sm my-0'
                    }
                }
            }
        }
    </script>
}