
@{
    ViewBag.Title = "Sent Record";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

    <div class="container-fluid mt-2">
        <div class="card card-body">
            <h3 class="h3-responsive mb-3">Sent Record</h3>

            <table id="DataTable" class="DataTable table table-bordered table-sm text-center">
                <thead>
                    <tr>
                        <th><strong>Phone Number</strong></th>
                        <th><strong>Text SMS</strong></th>
                        <th><strong>Text Count</strong></th>
                        <th><strong>SMS Count</strong></th>
                        <th><strong>Date</strong></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

@section scripts{
    <script>
        $(function() {
            dataTable.getData()
        });

        var dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#DataTable").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/SMS/SentRecordData",
                        type: "POST"
                    },
                    columns:
                    [
                        { data: "PhoneNumber" },
                        { data: "TextSMS" },
                        { data: "TextCount" },
                        { data: "SMSCount" },
                        { data: "Date", "render": function(data) { return moment(data).format('D MMM YYYY') } }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [0, 1, 2, 3, 4] }
                    ]
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            }
        }
    </script>
}
