
@{
    ViewBag.Title = "VendorSMS";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="card card-body m-md-3 mb-3">
    <h3 class="mb-3">Send SMS To Vendor <small class="text-muted">SMS balance: <strong id="smsBalance"></strong></small></h3>

    <table id="DataTable" class="table table-sm table-bordered text-left">
        <thead>
        <tr>
            <th class="text-center p-0">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="select-all">
                    <label class="custom-control-label" for="select-all"></label>
                </div>
            </th>
            <th>Company</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
        </thead>
    </table>
</div>

<div class="card card-body m-md-3">
    <form id="formSMS">
        <div class="md-form m-0">
            <label for="inputSMS">Write SMS here</label>
            <textarea id="inputSMS" type="text" class="md-textarea form-control" rows="1" required></textarea>
        </div>
        <input type="submit" class="btn btn-elegant mt-3" id="btnSendSMS" value="SEND SMS" />
    </form>
</div>

@section Scripts {
    <script>
        $(function() {
            dataTable.getData();
            getSMSBalance()
        });

        function getSMSBalance() {
            $.ajax({
                url: '/SMS/SmsBalance',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    console.log(response)
                    document.getElementById('smsBalance').textContent = 120;
                },
                error: error => console.log(error)
            });
        }

        //get data
        var dataTable = {
            table: null,
            init: function() {
                dataTable.table = $("#DataTable").DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/Vendors/IndexData",
                        type: "POST"
                    },
                    columns:
                    [
                        { data: "VendorPhone", 'render': dataTable.checkbox },
                        { data: "VendorCompanyName" },
                        { data: "VendorName" },
                        { data: "VendorAddress" },
                        { data: "VendorPhone" }
                    ],
                    columnDefs: [
                        { 'searchable': false, 'targets': [0] },
                        { 'sortable': false, 'targets': [0] },
                        { 'className': "text-center", "targets": [0] },
                    ],
                    order: [1, 'asc']
                });
            },
            getData: function() {
                dataTable.table ? dataTable.table.ajax.reload() : dataTable.init();
            },
            checkbox: function(data, type, full, meta) {
                return `<div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="${meta.row}" value="${data}"><label class="custom-control-label" for="${meta.row}"></label></div>`;
            }
        }

        //select all checkbox
        $('#select-all').on('click', function() {
            const rows = dataTable.table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        //button click
        document.getElementById("formSMS").addEventListener('submit', function(e) {
            e.preventDefault();

            let val = ''
            dataTable.table.$('input[type="checkbox"]').each(function() {
                if (this.checked) {
                    val += this.value
                }
            });

            console.log(val)
        })
    </script>
}

