
body { background-color: #fff; color: #000 }

.receipt-date { font-size: 15px; font-weight: bold }
.receipt-date h5 { border: 2px solid #333; font-size: 20px; padding: 9px; border-radius: 15px; font-weight: 700; margin: 0; }

#vendor-area { margin-bottom: 15px }
#vendor-area h5 { font-size: 15px }

#main-page { position: relative; margin: auto;}
#main-page table { border: 1px solid #000; width: 100%; }
#main-page table thead th { vertical-align: bottom; border-bottom: 2px solid #8B8B8B; text-align: center; background-color: #f0f0f0; }
#main-page table td, th { color: #000; padding: 0.5rem; font-weight: 400; border: 1px solid #000; }
#main-page table h5 { font-weight: 400; font-size: 16px; color: #000 }

#amount-word { text-transform: lowercase; font-style: italic; font-size: 14px; color: #000 }
.p-footer { width: 100%; border-top: 1px solid #333; padding-top: 5px; margin-top: 20px; }

@page { margin: 0; }
@media print {
    #header { display: none !important }

    #main-page { height: 672px; width: 504px; padding-top: 10rem }
    table td, table th { font-size: .8rem; }
    .p-footer { position: absolute; bottom: 0; margin-top:0; }
}
