body { background-color: #fff; color: #000 }

.name-logo { display: flex; align-items: center; width: 300px; margin: auto; margin-bottom: 3px }
.name-logo img { width: 35px; }
.name-logo h2 { font-weight: bold; color: #006400; font-size: 20px; margin-bottom: 0; margin-left: 10px; }

.address-bar p { color: #000000; text-align: center; margin-bottom: 2px; font-size: 12px; font-weight: 400; }


.invice-title { font-size: 1rem; text-align: center; font-weight: bold; width: 100px; margin: auto; border: 2px solid #000; border-radius: 20px }

#vendor-area { margin-bottom: 15px }
#vendor-area h5 { font-size: 13px; margin-bottom: 3px }
#vendor-area h5 strong { word-break: break-word }

#main-page table { border: 1px solid #000; width: 100%; }
#main-page table thead th { vertical-align: bottom; border-bottom: 2px solid #8B8B8B; text-align: center; background-color: #f0f0f0; }
#main-page table td, th { color: #000; padding: 0.5rem; font-weight: 400; border: 1px solid #000; }
#main-page table h5 { font-weight: 400; font-size: 14px; color: #000 }

#amount-word { text-transform: lowercase; font-style: italic; font-size: 12px; color: #000 }
.p-footer { width: 100%; border-top: 1px solid #333; padding-top: 5px; margin-top: 20px; font-size: 13px; color: #000; }

@page { margin: 4cm 0 0 0; }

@media print {
    #header { display: none !important }

    #main-page { position: relative; margin: auto; height: 672px; width: 504px; padding-top: 1rem }
    .receipt-info span { font-size: 14px; font-weight: bold }
    #main-page table td, table th { font-size: .7rem; }
    .p-footer { position: absolute; bottom: 0; margin-top: 0; }
}